dify/global-knowledge-summary.yml
app:
  description: Truncate with LLM to get an overview of the KB.
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Global Knowledge Summary v2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.3@84d4aae2c55724f6cdaecfadceed061d7e6b6693ae8945ea2dcd155f280743ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: Supabase REST base URL, e.g. https://xxxxxxxx.supabase.co (no trailing slash)
    id: 9b1e7c40-0000-4000-8000-0000000000a1
    name: SUPABASE_URL
    selector:
    - env
    - SUPABASE_URL
    value: ''
    value_type: string
  - description: Supabase service_role key. Set as a secret, never commit it. Lock RLS so anon cannot write.
    id: 9b1e7c40-0000-4000-8000-0000000000a2
    name: SUPABASE_KEY
    selector:
    - env
    - SUPABASE_KEY
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17793140081020-source-1779229886443-target
      selected: false
      source: '17793140081020'
      sourceHandle: source
      target: '1779229886443'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 17793144130500-source-1779232916867-target
      selected: false
      source: '17793144130500'
      sourceHandle: source
      target: '1779232916867'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779229886443-source-1779314854267-target
      selected: false
      source: '1779229886443'
      sourceHandle: source
      target: '1779314854267'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779314854267-source-1779384913694-target
      source: '1779314854267'
      sourceHandle: source
      target: '1779384913694'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779384913694-true-17793144130500-target
      source: '1779384913694'
      sourceHandle: 'true'
      target: '17793144130500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1779384913694-false-1779232916867-target
      source: '1779384913694'
      sourceHandle: 'false'
      target: '1779232916867'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1779229177216-source-1779684163460-target
      source: '1779229177216'
      sourceHandle: source
      target: '1779684163460'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: http-request
      id: 1779684163460-source-17793140081020-target
      source: '1779684163460'
      sourceHandle: source
      target: '17793140081020'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: chunk
          max_length: 5
          options: []
          placeholder: ''
          required: true
          type: file-list
          variable: chunk
        - default: ''
          hint: ''
          label: doc_name
          max_length: 200
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: doc_name
        - default: ''
          hint: ''
          label: skeleton_template
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: skeleton_template
      height: 160
      id: '1779229177216'
      position:
        x: -203.39999999999998
        y: 261
      positionAbsolute:
        x: -203.39999999999998
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 56b0baa5-cc80-4939-877f-c62fcc80daa3
          role: system
          text: 'You are a Knowledge Skeleton Manager for Jessy Li''s portfolio chatbot.


            Update the fixed global knowledge skeleton using the new chunk. Only update
            the global skeleton with durable, reusable, high-level information.


            Rules:

            1. Always return all skeleton sections in the exact same order, even if
            some sections are empty.

            2. Preserve useful existing information.

            3. Add only meaningful new information from the chunk.

            4. Put information into the correct section, not randomly at the end.

            5. Do not invent facts.

            6. Remove redundancy.

            7. Keep wording concise.

            8. If the chunk adds nothing, return only: NO_CHANGE

            9. If updated, return only the updated skeleton.


            Section guide:

            - Professional Positioning: role, identity, 0-to-1 ownership

            - Core AI/Product Projects: named products, AI systems, workflows, project
            examples

            - Industry Experience: industries, domains, client types

            - Key Skills: product, project, AI, execution, communication skills

            - Product Thinking: design rationale, user needs, workflow logic, problem-solving

            - Technical / AI System Understanding: RAG, chatbot, API, database, automation,
            AI architecture

            - Differentiators: unique strengths or combinations

            - Career Direction: goals or future direction

            - Other: brief personal interests only if useful for personality; or sponsorship
            need, do not mix hobbies with professional skills


            Always return all skeleton sections in the exact same order, even if some
            sections are empty. Keep the answer under 500 words unless the user asks
            for details.'
        - id: 3dc3fb51-3d80-4b2a-9ec3-2102b4f13cd7
          role: user
          text: '### Skeleton Template

            {{#1779229177216.skeleton_template#}}


            ### Current Global Knowledge from Database

            {{#17793140081020.body#}}


            Use only the "global_knowledge" field if the current knowledge is returned
            as JSON.


            ### Source Document

            {{#1779229177216.doc_name#}}


            ### New Information Chunk

            {{#1779684163460.text#}}


            Task:

            Update the skeleton with useful new information from the chunk.

            Return only NO_CHANGE or the updated skeleton.'
        selected: false
        title: 'LLM: Context Generator'
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779229886443'
      position:
        x: 684.6878143362701
        y: 282
      positionAbsolute:
        x: 684.6878143362701
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779314854267'
          - updated_global_knowledge
          value_type: string
          variable: Code
        selected: false
        title: Output
        type: end
      height: 88
      id: '1779232916867'
      position:
        x: 1885.1854383143034
        y: 327.3612904212715
      positionAbsolute:
        x: 1885.1854383143034
        y: 327.3612904212715
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: ''
          type: none
        desc: ''
        headers: apikey:{{#env.SUPABASE_KEY#}}
        isInIteration: false
        isInLoop: false
        method: get
        params: 'select:global_knowledge,version_number

          order:created_at.desc

          limit:1'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/global_knowledge_versions'
        variables: []
      height: 153
      id: '17793140081020'
      position:
        x: 393
        y: 282
      positionAbsolute:
        x: 393
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-134
            key: ''
            type: text
            value: '{{#1779314854267.payload#}}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_KEY#}}

          Content-Type:application/json

          Prefer:return=representation'
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Writeback
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/global_knowledge_versions'
        variables: []
      height: 153
      id: '17793144130500'
      position:
        x: 1574.4860169623596
        y: 266.7137754752776
      positionAbsolute:
        x: 1574.4860169623596
        y: 266.7137754752776
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(llm_output: str, original: str) -> dict:\n\
          \    cleaned = llm_output.strip()\n\n    current_global_knowledge = \"\"\
          \n    current_version = 0\n\n    try:\n        parsed = json.loads(original)\n\
          \        if isinstance(parsed, list) and len(parsed) > 0:\n            current_global_knowledge\
          \ = parsed[0].get(\"global_knowledge\", \"\")\n            current_version\
          \ = int(parsed[0].get(\"version_number\", 0))\n        else:\n         \
          \   current_global_knowledge = original\n    except Exception:\n       \
          \ current_global_knowledge = original\n\n    next_version = current_version\
          \ + 1\n\n    if cleaned == \"NO_CHANGE\":\n        should_update = \"false\"\
          \n        updated_global_knowledge = current_global_knowledge\n        version_number\
          \ = current_version\n    else:\n        should_update = \"true\"\n     \
          \   updated_global_knowledge = cleaned\n        version_number = next_version\n\
          \n    payload = json.dumps({\n        \"user_id\": \"jessy\",\n        \"\
          version_number\": version_number,\n        \"global_knowledge\": updated_global_knowledge,\n\
          \        \"change_log\": \"Updated from Global Knowledge Summary flow\"\
          ,\n        \"source_chunks\": []\n    }, ensure_ascii=False)\n\n    return\
          \ {\n        \"should_update\": should_update,\n        \"updated_global_knowledge\"\
          : updated_global_knowledge,\n        \"next_version_number\": str(version_number),\n\
          \        \"payload\": payload\n    }"
        code_language: python3
        outputs:
          next_version_number:
            children: null
            type: string
          payload:
            children: null
            type: string
          should_update:
            children: null
            type: string
          updated_global_knowledge:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1779229886443'
          - text
          value_type: string
          variable: llm_output
        - value_selector:
          - '17793140081020'
          - body
          value_type: string
          variable: original
      height: 51
      id: '1779314854267'
      position:
        x: 975.6
        y: 282
      positionAbsolute:
        x: 975.6
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 896a79e9-be02-402f-b645-740999793af3
            value: 'true'
            varType: string
            variable_selector:
            - '1779314854267'
            - should_update
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 123
      id: '1779384913694'
      position:
        x: 1274.6
        y: 280
      positionAbsolute:
        x: 1274.6
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - '1779229177216'
        - chunk
      height: 104
      id: '1779684163460'
      position:
        x: 93
        y: 282
      positionAbsolute:
        x: 93
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1561.7013404176887
      y: 17.304859003211504
      zoom: 1.0157093663933014
  rag_pipeline_variables: []
